MONITORAMENTO IOT v2/flow nod-red-final-version.json
[{"id":"e5a4bd1be153647d","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"d1e91c69e5291ff6","type":"mqtt in","z":"e5a4bd1be153647d","name":"","topic":"leonardo/iot/monitoramento/dados","qos":"0","datatype":"auto-detect","broker":"218c01da2b408433","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":460,"wires":[["f3d798d490678d76","c6a3b033729b4401","846d69b5dd0ab4ac","16c874ee4c4a3219","f5c122386b326701","598d27057c83e4cf","36eb4fa3a21552c0","f18038296b213478"]]},{"id":"f3d798d490678d76","type":"function","z":"e5a4bd1be153647d","name":"function temperatura","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = Number(dados.temperatura);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":500,"wires":[["a9f7451aa70a1cba","91f1bc1a733c0fc1"]]},{"id":"c6a3b033729b4401","type":"function","z":"e5a4bd1be153647d","name":"function umidade","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = Number(dados.umidade);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":740,"wires":[["02a26e1c6051e0a3","257fd84683122356"]]},{"id":"846d69b5dd0ab4ac","type":"function","z":"e5a4bd1be153647d","name":"function luminosidade","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = Number(dados.luminosidade);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":420,"wires":[["a00c01c52c8841a1","cb1ec4401d07539c"]]},{"id":"16c874ee4c4a3219","type":"function","z":"e5a4bd1be153647d","name":"function status","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = dados.status;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":660,"wires":[["0f4d6a749fc95122"]]},{"id":"a9f7451aa70a1cba","type":"ui_gauge","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":8,"width":"6","height":"5","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1430,"y":540,"wires":[],"icon":"font-awesome/fa-dashboard"},{"id":"02a26e1c6051e0a3","type":"ui_gauge","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":7,"width":"6","height":"5","gtype":"gage","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1400,"y":720,"wires":[]},{"id":"a00c01c52c8841a1","type":"ui_gauge","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":6,"width":"6","height":"5","gtype":"gage","title":"Luminosidade","label":"ADC","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1440,"y":420,"wires":[]},{"id":"0f4d6a749fc95122","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"","order":9,"width":"18","height":"3","format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\">\n\n    <div ng-if=\"msg.payload=='NORMAL'\"\n        style=\"background:#22c55e;color:white;padding:18px 36px;border-radius:18px;font-size:28px;font-weight:bold;\">\n        🟢 NORMAL\n    </div>\n\n    <div ng-if=\"msg.payload=='ATENCAO'\"\n        style=\"background:#facc15;color:black;padding:18px 36px;border-radius:18px;font-size:28px;font-weight:bold;\">\n        🟡 ATENÇÃO\n    </div>\n\n    <div ng-if=\"msg.payload=='CRITICO'\"\n        style=\"background:#ef4444;color:white;padding:18px 36px;border-radius:18px;font-size:28px;font-weight:bold;box-shadow:0 0 20px #ef4444;\">\n        🔴 CRÍTICO\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1400,"y":660,"wires":[[]]},{"id":"91f1bc1a733c0fc1","type":"ui_chart","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":10,"width":"18","height":"5","label":"Histórico da Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1450,"y":600,"wires":[[]]},{"id":"257fd84683122356","type":"ui_chart","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":11,"width":"9","height":"4","label":"Histórico da Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1440,"y":800,"wires":[[]]},{"id":"cb1ec4401d07539c","type":"ui_chart","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":12,"width":"9","height":"4","label":"Histórico da Luminosidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4095","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffa04d","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1460,"y":480,"wires":[[]]},{"id":"a0a3a1b87f6c4caa","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"Cabeçalho","order":1,"width":"18","height":"3","format":"<div style=\"\nwidth:100%;\nbox-sizing:border-box;\ntext-align:center;\npadding:10px;\nbackground:linear-gradient(90deg,#00bcd4,#009688);\nborder-radius:10px;\ncolor:white;\noverflow:hidden;\n\">\n    <div style=\"font-size:24px;font-weight:bold;\">\n        🌡️ Sistema de Monitoramento IoT\n    </div>\n\n    <div style=\"font-size:13px;margin-top:4px;\">\n        ESP32 • MQTT • Node-RED • Atualização em Tempo Real\n    </div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1170,"y":580,"wires":[[]]},{"id":"56b7215766129b99","type":"ui_button","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":13,"width":"9","height":"2","passthru":false,"label":"🔕 SILENCIAR ALARME","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"SILENCIAR","payloadType":"str","topic":"leonardo/iot/monitoramento/comando","topicType":"msg","x":650,"y":320,"wires":[["0140d8b60af55a31","e3b1c8106e741c00"]]},{"id":"e1334790459fd005","type":"ui_button","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":14,"width":"9","height":"2","passthru":false,"label":"🔔 ATIVAR ALARME","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"ATIVAR","payloadType":"str","topic":"leonardo/iot/monitoramento/comando","topicType":"msg","x":660,"y":380,"wires":[["0993beb5b3021dd1","e3b1c8106e741c00"]]},{"id":"e3b1c8106e741c00","type":"mqtt out","z":"e5a4bd1be153647d","name":"MQTT OUT","topic":"leonardo/iot/monitoramento/comando","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"218c01da2b408433","x":910,"y":280,"wires":[]},{"id":"0993beb5b3021dd1","type":"debug","z":"e5a4bd1be153647d","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":400,"wires":[]},{"id":"0140d8b60af55a31","type":"debug","z":"e5a4bd1be153647d","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":340,"wires":[]},{"id":"84c7ac54d1588c98","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"Template Temperatura","order":3,"width":"6","height":"2","format":"<div style=\"text-align:center;padding:12px;background:#7f1d1d;border-radius:14px;color:white;\">\n    <div style=\"font-size:18px;\">🌡️ Temperatura</div>\n    <div style=\"font-size:30px;font-weight:bold;\">{{msg.payload}} °C</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1460,"y":340,"wires":[[]]},{"id":"9a0c30873de52346","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"Template Umidade","order":4,"width":"6","height":"2","format":"<div style=\"text-align:center;padding:12px;background:#1e3a8a;border-radius:14px;color:white;\">\n    <div style=\"font-size:18px;\">💧 Umidade</div>\n    <div style=\"font-size:30px;font-weight:bold;\">{{msg.payload}} %</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1470,"y":180,"wires":[[]]},{"id":"4cbe130967d51cb9","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"Template Luminosidade","order":5,"width":"6","height":"2","format":"<div style=\"text-align:center;padding:12px;background:#854d0e;border-radius:14px;color:white;\">\n    <div style=\"font-size:18px;\">💡 Luminosidade</div>\n    <div style=\"font-size:30px;font-weight:bold;\">{{msg.payload}} ADC</div>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1470,"y":260,"wires":[[]]},{"id":"36eb4fa3a21552c0","type":"function","z":"e5a4bd1be153647d","name":"Function Umidade Card","func":"let dados = msg.payload;\nif (typeof dados === \"string\") dados = JSON.parse(dados);\n\nmsg.payload = dados.umidade;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1210,"y":180,"wires":[["9a0c30873de52346"]]},{"id":"f5c122386b326701","type":"function","z":"e5a4bd1be153647d","name":"Function Temp Card","func":"let dados = msg.payload;\nif (typeof dados === \"string\") dados = JSON.parse(dados);\n\nmsg.payload = dados.temperatura;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":340,"wires":[["84c7ac54d1588c98"]]},{"id":"598d27057c83e4cf","type":"function","z":"e5a4bd1be153647d","name":"Function Luz Card","func":"let dados = msg.payload;\nif (typeof dados === \"string\") dados = JSON.parse(dados);\n\nmsg.payload = dados.luminosidade;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":260,"wires":[["4cbe130967d51cb9"]]},{"id":"f18038296b213478","type":"function","z":"e5a4bd1be153647d","name":"function barra status","func":"let dados = msg.payload;\nif (typeof dados === \"string\") dados = JSON.parse(dados);\n\nlet agora = new Date().toLocaleTimeString(\"pt-BR\");\n\nmsg.payload = {\n    temperatura: dados.temperatura,\n    umidade: dados.umidade,\n    luminosidade: dados.luminosidade,\n    status: dados.status,\n    buzzer: dados.buzzer,\n    hora: agora\n};\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":560,"wires":[["fcfa57804ed5fafc"]]},{"id":"fcfa57804ed5fafc","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"Barra de Status","order":2,"width":"18","height":"3","format":"<div style=\"\ndisplay:grid;\ngrid-template-columns:repeat(5,1fr);\ngap:10px;\nwidth:100%;\nbox-sizing:border-box;\npadding:10px;\nbackground:#0f172a;\nborder:1px solid #00e5ff;\nborder-radius:14px;\ncolor:white;\nbox-shadow:0 0 14px rgba(0,229,255,.25);\noverflow:hidden;\n\">\n\n    <div style=\"text-align:center;\">\n        <div style=\"color:#22c55e;font-size:20px;\">●</div>\n        <b>ESP32</b><br>\n        <small>Online</small>\n    </div>\n\n    <div style=\"text-align:center;\">\n        <div style=\"font-size:20px;\">📡</div>\n        <b>MQTT</b><br>\n        <small>Conectado</small>\n    </div>\n\n    <div style=\"text-align:center;\">\n        <div style=\"font-size:20px;\">🔔</div>\n        <b>Buzzer</b><br>\n        <small>{{msg.payload.buzzer}}</small>\n    </div>\n\n    <div style=\"text-align:center;\">\n        <div style=\"font-size:20px;\">📊</div>\n        <b>Status</b><br>\n        <small>{{msg.payload.status}}</small>\n    </div>\n\n    <div style=\"text-align:center;\">\n        <div style=\"font-size:20px;\">🕒</div>\n        <b>Hora</b><br>\n        <small>{{msg.payload.hora}}</small>\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":860,"y":640,"wires":[[]]},{"id":"218c01da2b408433","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"86db1c192db226d5","type":"ui_group","name":"Sensores","tab":"6f40949a1339f09b","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"6f40949a1339f09b","type":"ui_tab","name":"Monitoramento IOT","icon":"dashboard","disabled":false,"hidden":false},{"id":"c95a3f6913025a59","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]