MONITORAMENTO IOT v2/flow nod-redV2.json
[{"id":"e5a4bd1be153647d","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"d1e91c69e5291ff6","type":"mqtt in","z":"e5a4bd1be153647d","name":"","topic":"leonardo/iot/monitoramento/dados","qos":"0","datatype":"auto-detect","broker":"218c01da2b408433","nl":false,"rap":true,"rh":0,"inputs":0,"x":820,"y":320,"wires":[["f3d798d490678d76","c6a3b033729b4401","846d69b5dd0ab4ac","16c874ee4c4a3219"]]},{"id":"f3d798d490678d76","type":"function","z":"e5a4bd1be153647d","name":"function temperatura","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = Number(dados.temperatura);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":320,"wires":[["a9f7451aa70a1cba","91f1bc1a733c0fc1"]]},{"id":"c6a3b033729b4401","type":"function","z":"e5a4bd1be153647d","name":"function umidade","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = Number(dados.umidade);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":440,"wires":[["02a26e1c6051e0a3","257fd84683122356"]]},{"id":"846d69b5dd0ab4ac","type":"function","z":"e5a4bd1be153647d","name":"function luminosidade","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = Number(dados.luminosidade);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1200,"y":200,"wires":[["a00c01c52c8841a1","cb1ec4401d07539c"]]},{"id":"16c874ee4c4a3219","type":"function","z":"e5a4bd1be153647d","name":"function status","func":"let dados = msg.payload;\n\nif (typeof dados === \"string\") {\n    dados = JSON.parse(dados);\n}\n\nmsg.payload = dados.status;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":560,"wires":[["0f4d6a749fc95122"]]},{"id":"a9f7451aa70a1cba","type":"ui_gauge","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":4,"width":"6","height":"5","gtype":"gage","title":"Temperatura","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1550,"y":240,"wires":[],"icon":"font-awesome/fa-dashboard"},{"id":"02a26e1c6051e0a3","type":"ui_gauge","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":3,"width":"6","height":"5","gtype":"gage","title":"Umidade","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1500,"y":420,"wires":[]},{"id":"a00c01c52c8841a1","type":"ui_gauge","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":2,"width":"6","height":"5","gtype":"gage","title":"Luminosidade","label":"ADC","format":"{{value}}","min":0,"max":"4095","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1460,"y":80,"wires":[]},{"id":"0f4d6a749fc95122","type":"ui_template","z":"e5a4bd1be153647d","group":"86db1c192db226d5","name":"","order":4,"width":"18","height":"3","format":"<div style=\"display:flex;justify-content:center;align-items:center;height:100%;\">\n\n    <div ng-if=\"msg.payload=='NORMAL'\"\n        style=\"background:#22c55e;color:white;padding:18px 36px;border-radius:18px;font-size:28px;font-weight:bold;\">\n        🟢 NORMAL\n    </div>\n\n    <div ng-if=\"msg.payload=='ATENCAO'\"\n        style=\"background:#facc15;color:black;padding:18px 36px;border-radius:18px;font-size:28px;font-weight:bold;\">\n        🟡 ATENÇÃO\n    </div>\n\n    <div ng-if=\"msg.payload=='CRITICO'\"\n        style=\"background:#ef4444;color:white;padding:18px 36px;border-radius:18px;font-size:28px;font-weight:bold;box-shadow:0 0 20px #ef4444;\">\n        🔴 CRÍTICO\n    </div>\n\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1440,"y":580,"wires":[[]]},{"id":"91f1bc1a733c0fc1","type":"ui_chart","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":4,"width":"18","height":"5","label":"Histórico da Temperatura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1570,"y":340,"wires":[[]]},{"id":"257fd84683122356","type":"ui_chart","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":5,"width":"9","height":"4","label":"Histórico da Umidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1520,"y":500,"wires":[[]]},{"id":"cb1ec4401d07539c","type":"ui_chart","z":"e5a4bd1be153647d","name":"","group":"86db1c192db226d5","order":6,"width":"9","height":"4","label":"Histórico da Luminosidade","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"4095","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ffa04d","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1520,"y":180,"wires":[[]]},{"id":"218c01da2b408433","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"86db1c192db226d5","type":"ui_group","name":"Sensores","tab":"6f40949a1339f09b","order":1,"disp":true,"width":"18","collapse":false,"className":""},{"id":"6f40949a1339f09b","type":"ui_tab","name":"Monitoramento IOT","icon":"dashboard","disabled":false,"hidden":false},{"id":"7dfba4d63e87a701","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]